/* .pokemon-button {
    background-color: #355c9e;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width: 250px;
} */

/* #modal-container {
    display: none;
} */

#modal-container.is-visible {
    position: fixed;
    padding: 20px;
    box-sizing: border-box;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);

    /* to show it above other content */
    z-index: 999;

    /* to allow scrolling if the screen is not high enough */
    overflow: auto;

    /* to center the modal */
    display: grid;
    text-align: center;
}

/* .modal {
    margin: auto;
    display: inline-block;
    box-sizing: border-box;
    background: #fff;
    padding: 15px;
    width: 100%;
    max-width: 700px;
    text-align: center;
}

.modal-close {
    float: right;
    border: 0;
    background: none;
    color: #777;
    text-decoration: underline;
} */

/* .image-url {
    width: 50%;
} */

.pokemonImageSize {
    height: 300px;
}


/* .height {
    font-size: 24px;
}

.weight {
    font-size: 24px;
}

.types {
    font-size: 24px;
} */

/* @media (display: grid) {
    .grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 20px;
        margin: 0;
    }
} */